<%= simple_form_for(@flat) do |f| %>
<div class="create_form">
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit %>
  <% end %>
</div>

<%= simple_form_for(@flat) do |f| %>
  <% if @flat.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @flat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- [...] all the fields -->
<% end %>
