<div class="container">
  <div class="flat-page-fshow">
    <div class="left-side-fshow">
      <div class="card-trip-fshow">
        <%= cl_image_tag(@flat.photo) %>
        <!-- , :type => :upload, :width => 400, :height => 500, :crop => :fill -->
        <div class="card-trip-infos-fshow">
          <div>
            <p>Address : <%= @flat.address %></p>
            <p class="card-trip-pricing-fshow">Price : <%= @flat.price %> euros</p>
          </div>

          <%# if @flat.user.avatar.present? %>
          <%#= cl_image_tag @flat.user.avatar %>
          <%# else %>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-fshow" />
          <%# end %>
        </div>
      </div>

      <div class="information-fshow">
        <p>About your flat : <%= @flat.description %></p>
      </div>
      <div class="buttons-fshow">
        <p><%= link_to "Back to list", flats_path, class: "btn-flat-retro-blue" %></p>
      </div>
    </div>


    <div class="right-side-fshow">
      <div class="booking-fshow">
        <h1>My booking :</h1>
        <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :number,
        as: :integer,
        input_html: { value: nil, id: "bookinputs" },
        label: "Number of people:" %>
        <%= f.input :start_date, input_html: { id: "bookinputs" } %>
        <%= f.input :end_date, input_html: { id: "bookinputs" } %>
        <%= f.input :message,
        as: :text,
        input_html: { value: nil, id: "bookinputs" },
        label: "Your message :" %>
        <%= f.submit class: "btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>






