
<h2><%= @flat.description %></h2>
<p><%= @flat.address %></p>
<p><%= @flat.price %>$</p>
<%= cl_image_tag @flat.photo %>

<%= link_to "Delete", flat_path(@flat),
  method: :delete,
  data: { confirm: "Are you sure?"} %>
<p><%= link_to "Back to list", flats_path %></p>
<!-- this one needs to be changes because it can only show one flat (MASHA) -->
