<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">

<%= link_to image_tag("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", id: "wagon"), root_path%>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if user_signed_in? %>
           <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
         <% else %>
            <%= link_to "Log in", user_session_path, class: "nav-link" %>
         <% end %>
      </li>
      <li class="nav-item">
         <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "profile", profile_path %>
          <%= link_to "my bookings", bookings_path %>
        </div>
      </li>
    </ul>
  </div>
</div>

