<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">

<%= link_to image_tag("logorocket.png", id: "wagon"), root_path%>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if user_signed_in? %>
          <%= link_to "Rent your flat", new_flat_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item active">
        <% if user_signed_in? %>
           <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
         <% else %>
            <%= link_to "Log in", user_session_path, class: "nav-link" %>
         <% end %>
      </li>
      <li class="nav-item">
         <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <% if user_signed_in? %>
           <%= cl_image_tag current_user.avatar, :class => "avatar dropdown-toggle", :id => "navbarDropdown", 'data-toggle' => "dropdown", 'aria-haspopup' => true,
             'aria-expanded' => false %>
        <% else %>
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://banner2.kisspng.com/20180521/ocp/kisspng-computer-icons-user-profile-avatar-french-people-5b0365e4f1ce65.9760504415269493489905.jpg"/>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "profile", profile_path, :class => "ele-dropdown" %>
          <% if current_user != nil %>
            <% if current_user.owner %>
              <%= link_to "my flats", my_flats_path, :class => "ele-dropdown" %>
            <% end %>
          <% end %>
          <%= link_to "my bookings", bookings_path, :class => "ele-dropdown" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier"/> -->
