<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'bannerimage.jpg' %>);">
  <div class="container">
    <h1>Welcome to MBMV, book your room in<strong> outer space</strong>!</h1>
    <p>Spend a night at the ISS</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat) do %>
      <div class="col-12 col-lg-6 mt-3">
        <div class="flat-card-trip mx-auto ">
          <div class="card_img">
          <%= cl_image_tag(flat.photo) %>
          </div>
          <div class="flat-card-trip-infos">
            <div>
              <h2><%= link_to flat.description, flat_path(flat) %></h2>
            </div>
            <h2 class="flat-card-trip-pricing"><%= flat.price %> $</h2>
            <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="flat-card-trip-user avatar-bordered"/>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="map-container">
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

