<div class="profile-container profile-wrapper">
  <div id="left-profile">
    <div id="profile-name">
      <h1> <%= @user.name %> </h1>
    </div>

    <div class="user-info">
      <p>Email: <%= @user.email %> </p>
      <p>Phone number: <%= @user.phonenumber %> </p>
    </div>

    <div class='btn-flat btn-size btn-position'>
      <%= link_to 'Create a flat', new_flat_path %>
    </div>
  </div>

  <div class="profile-description">
    <p> <%= @user.description %> </p>
  </div>

  <div id="right-profile">
    <%= cl_image_tag @user.avatar, :class => "avatar-square profile-avatar" %>

    <div class='btn-flat btn-size' id="btn-create-profile-page">
      <%= link_to 'Create your space flat', new_flat_path %>
    </div>

    <div class='btn-flat btn-size' id="btn-update-profile-page">
      <%= link_to 'Edit profile', edit_user_registration_path %>
    </div>
  </div>
</div>

